/*
    <dl>
        <dt>HTML</dt>
        <dd><span>HTML</span>은 문서의 구조를 나타냅니다.</dd>
        <dt>CSS</dt>
        <dd><span>CSS</span>는 문서의 표현을 나타냅니다.</dd>
    </dl>

    만약 "HTML"과 "CSS"에 각자 다른 색깔을 부여하고 싶을 때 어떻게 해야 할까?
    같은 dt태그이기 때문에 요소 선택자와 전체 선택자를 사용하면 같은 색깔이 부여될 수 밖에 없다.
    다른 선택자인 class와 id를 사용해야 한다.
*/

/*
    class 선택자
    - <p class="클래스이름">~~~~~~~</p>
    - class의 참조자는 .이고, id의 참조자는 #이다
*/

.c1 {
    color : blue;
}

.c2 {
    color : red;
}

.multi {
    font-size : 30px;
}

/*
    id 선택자
    - class 선택자와 거의 동일하나, 문서 내의 '유일한 요소'에 사용
    - 구체성 (class는 좀 포괄적이라면 id는 구체적인 디자인)
    - class와 id를 겹칠 수 있다
*/

#id {
    color : rgb(175, 175, 115);
}